logs/
*.log

*.jar
libraries/
cache/

world/
world_nether/
world_the_end/

world*/

playerdata/
stats/
advancements/
usercache.json
banned-ips.json
banned-players.json
ops.json
whitelist.json
ipbans.yml
playerpoints/
plugins/Essentials/userdata/

plugins/WorldEdit/sessions/
plugins/WorldEdit/schematics/
plugins/LuckPerms/*.db
plugins/LuckPerms/*.db.mv.db
plugins/LuckPerms/*.db.trace.db
plugins/LuckPerms/yaml-storage/
plugins/LuckPerms/json-storage/
plugins/LuckPerms/h2-storage/
plugins/LuckPerms/sqlite-storage/
eula.txt

*.bak

.DS_Store
Thumbs.db
*~
*.swp
*.tmp

