*.yml linguist-detectable=true
*.yaml linguist-detectable=true
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
*.md linguist-documentation
*.txt linguist-documentation
*.png binary
*.properties linguist-documentation
* text=auto